<div class="bg-white border rounded px-2 py-2.5">
  <form>
    <div class="flex items-center">
      <input
        placeholder="What are you working on"
        class="outline-none px-2.5 py-2 text-sm w-full"
      />
      <.button type="submit" class="inline-flex items-center gap-x-1 rounded-[4px]">
        Start <.icon name="hero-play" class="w-5 h-5" />
      </.button>
    </div>
  </form>
</div>
